:root {
--cor-de-fundo : #2d08ff;
--verde:#09ff00; 
--branco: hsl(0, 0%, 100%);
--botão-ativo: #3a375e;
--botaoínativo: #f70c0c;
--texto-fundo: #fffb00;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
}
.conteudo-principal{
flex-direction: column;
display: flex;
align-items: center;
max-width: 1200px;
width: 100%;
justify-content: center;
margin:0 auto;
}
.titulo-principal{
    text-align: center;
width: 100%;
font-size: 32px;
}
.botao{
    font-family: 'Courier New', Courier, monospace;
    background-color: cyan;
    color: #ff0303;
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px ;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botão-ativo);
    border-left: 2px solid var(--botão-ativo);
    border-top: 2px solid var(--botão-ativo);
    border-top: none;
}