:root {
--cor-de-fundo : #2d08ff;
--verde:#09ff00; 
--branco: hsl(0, 0%, 100%);
--botão-ativo: #3a375e;
--botaoínativo: #f70c0c;
--texto-fundo: #fffb00;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
}
.conteudo-principal{
flex-direction: column;
display: flex;
align-items: center;
max-width: 1200px;
width: 100%;
justify-content: center;
margin:0 auto;
}
.titulo-principal{
    text-align: center;
width: 100%;
font-size: 32px;
}
